# Razorpay Test Credentials
RAZORPAY_KEY_ID=rzp_test_TFip8ar2ihtAbp
RAZORPAY_KEY_SECRET=kwjs05r5raoqnd1a4drWCVws

# For frontend (must be NEXT_PUBLIC_ prefix to be accessible in browser)
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_TFip8ar2ihtAbp
